
PythonForAllProject/src/pythonclasses/chapter16/gmane/content.sqlite
PythonForAllProject/src/pythonclasses/chapter16/gmane/mapping.sqlite
PythonForAllProject/src/pythonclasses/chapter16/gmane/index.sqlite
